body {
  margin-top: 100px;
  background-color: #13ef1a;
  font-family: Roboto;
  padding: 0;
  color: #333;
}
.container {
  justify-content: center;
  text-align: center;
}
.show-btn {
  background-color: #333;
  padding: 15px 30px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 40px;
}
.range-input {
  width: 25%;
  height: 50px;
  margin-top: 40px;
  
}
.progress {
  margin-top: 50px;
  font-weight: 600;
}



